/* Charity: water Brand Colors

Primary Colors:
- Yellow:     #FFC907
- Blue:       #2E9DF7

Secondary Colors:
- Light Blue: #8BD1CB
- Green:      #4FCB53
- Orange:     #FF902A
- Red:        #F5402C
- Dark Green: #159A48
- Pink:       #F16061

*/

img {
	width: 62px;
	height: 62px;
}

#startWindow {
	width: 500px;
	height: 300px;
	border: 5px solid;
	border-color: #2E9DF7;
	border-radius: 10px;
	margin: 20px calc(50% - 250px);
}


#gameWindow, #gameOverWindow {
	display: none;
	width: 500px;
	height: 300px;
	border: 5px solid;
	border-color: #FFC907;
	border-radius: 10px;
	margin: 20px calc(50% - 250px);
}

#imagesList, #images {
	list-style-type: none;
	display: flex;
	padding-inline-start: 0;
	align-items: center;
}
